body {
    margin: 0;
}

/* HEADER */

#header {
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
    display:none;
}

#header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#header ul li {
    margin-left: 10px;
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
}

#titre {
    font-size: 25px;
    margin-top: 5px;
}

.button-header {
    border: 3px solid;
    display: inline-block;
    cursor: pointer;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 24px;
    margin-top: 20px;
    text-decoration: none;
    display:none;
}

.button-header:hover {
}

.button-header:active {
    position: relative;
    top: 1px;
}

/* LOGIN */

.login {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border:solid;
    border-width: thin;
}

/* SIGNUP */

.inscription {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border:solid;
    border-width: thin;
}

/* TABLEAUX */
#pathologies {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    border-width: 1px;
    border-collapse: collapse;
    margin: 0px;
}
#pathologies th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
}

#pathologies td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
}

/* FOOTER */
#footer {
    display: none;
}

.rss {
    font-size: 80%;
    margin: 0px;
}