body {
    margin: 0;
    min-width: 600px;
}

/* HEADER */

#header {
    background-color: #D8D8D8;
    width: 100%;
    text-align: center;
    padding-bottom: 100px;
}

#header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#header ul li {
    margin-left: 10px;
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
}

#titre {
    font-size: 25px;
    margin-top: 5px;
}

.button-header {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #f9f9f9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 24px;
    margin-top: 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.button-header:hover {
    background-color: #e9e9e9;
}

.button-header:active {
    position: relative;
    top: 1px;
}

/* LOGIN */

.login {
    text-align: center;
    margin: 5% 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    border:solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: thin;
}

/* SIGNUP */

.inscription {
    text-align: center;
    margin: 5% 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    border:solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: thin;
}

/* TABLEAUX */
#pathologies {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    text-align: center;
    /*margin: 5% 25%;*/
}
#pathologies th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
#pathologies td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

.rss {
    font-size: 80%;
    max-width: 70%;
    margin: 5% 25%;
}